.home_box{
  font-size: 0.4rem;
}
.img{
  width: 1rem;
}
.div_bg {
  width: 1rem;
  height: 1rem;
  background-image: url('../../assets/1.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}